h2 {
  color: #18bff5 !important;
  text-align: justify;
  font-weight: bold !important;
}

.text-warning {
  color: #ff6e00 !important;
}

.text-info {
  color: #04F2F9 !important;
}

.welcome-area .particle-bg {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-default:hover {
  color: #ff6e00 !important;
}

.btn-default:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.menu-desk li a {
  color: white;
  font-size: 12px;
}

.menu-desk li.active {
  border-bottom: 1px solid #ff6e00;
}

.menu-desk li.active a {
  color: #ff6e00;
}

/* .home .content-container{
    overflow: hidden;
}
.overlayImg{
    width: 100%;
    height: 200% !important;
} */
.contenedor-video {
  z-index: 10;
  border-radius: 15px;
  -webkit-box-shadow: 5px 5px 20px 1px rgba(255, 110, 0, 0.1);
          box-shadow: 5px 5px 20px 1px rgba(255, 110, 0, 0.1);
}

.contenedor-video a {
  background-color: rgba(255, 255, 255, 0.7);
  width: 7rem;
  height: 7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50%;
  color: #ff6e00;
  font-size: 2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-clip: padding-box;
  /* asemos que el border creado no se una con el color de fondo y con padding se aleja del color */
  border: 0 solid transparent;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.contenedor-video a:hover {
  background-color: #ff6e00;
  color: white;
  border: 0.8rem solid rgba(255, 255, 255, 0.5);
}

/* // bootstrap usa text-truncate para hacer lo mismo
  .contenedor-video{
      overflow: hidden;
  } */
.contenedor-video img {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.contenedor-video:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.work .display-content {
  position: relative;
  overflow: hidden;
}

.work .overlayImg {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(../images/overlayImg.png);
  opacity: .1;
  -webkit-transform-origin: top right;
          transform-origin: top right;
  -webkit-transform: skewY(-30deg);
          transform: skewY(-30deg);
}

.about .display-content {
  position: relative;
  overflow: hidden;
}

.about .overlayImg {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(../images/overlayImg.png);
  z-index: -1;
  opacity: .1;
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-transform: skewY(-45deg);
          transform: skewY(-45deg);
}

.objetivo .display-content {
  position: relative;
  overflow: hidden;
}

.objetivo .overlayImg {
  position: absolute;
  width: 125%;
  height: 100%;
  background: url(../images/overlayImg.png);
  z-index: -1;
  opacity: .1;
  -webkit-transform-origin: top right;
          transform-origin: top right;
  -webkit-transform: skewY(-160deg);
          transform: skewY(-160deg);
}

p span {
  font-weight: bold;
}

.imgBg .work,
.imgBg #blog,
.imgBg #portfolio,
.imgBg #client-testimonial,
.imgBg #service,
.imgBg .resume,
.imgBg .metamask,
.imgBg #contact,
.imgBg #about {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.btn-primario {
  text-transform: uppercase;
  width: 150px;
  background: rgba(253, 105, 0, 0.1);
  position: relative;
  color: #ff6e00;
  font-size: 12px;
  -webkit-transition: .5s;
  transition: .5s;
}

.btn-primario:focus {
  color: #ff6e00;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-secundario {
  text-transform: uppercase;
  width: 150px;
  background: rgba(29, 197, 163, 0.1);
  position: relative;
  color: #1DC5A3;
  font-size: 12px;
  -webkit-transition: .5s;
  transition: .5s;
}

.btn-secundario:focus {
  color: #1DC5A3;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-primario::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  border-top: 1px solid #ff6e00;
  border-left: 1px solid #ff6e00;
  -webkit-transition: .5s;
  transition: .5s;
}

.btn-primario::after {
  position: absolute;
  content: "";
  bottom: 0;
  right: 0;
  width: 10px;
  height: 10px;
  border-bottom: 1px solid #ff6e00;
  border-right: 1px solid #ff6e00;
  -webkit-transition: .5s;
  transition: .5s;
}

.btn-primario:hover {
  color: #ff6e00;
}

.btn-primario:hover::before,
.btn-primario:hover::after {
  width: 100%;
  height: 100%;
}

.btn-secundario::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  border-top: 1px solid #1DC5A3;
  border-left: 1px solid #1DC5A3;
  -webkit-transition: .5s;
  transition: .5s;
}

.btn-secundario::after {
  position: absolute;
  content: "";
  bottom: 0;
  right: 0;
  width: 10px;
  height: 10px;
  border-bottom: 1px solid #1DC5A3;
  border-right: 1px solid #1DC5A3;
  -webkit-transition: .5s;
  transition: .5s;
}

.btn-secundario:hover {
  color: #1DC5A3;
}

.btn-secundario:hover::before,
.btn-secundario:hover::after {
  width: 100%;
  height: 100%;
}

.content-service {
  position: relative;
  background: rgba(253, 105, 0, 0.1);
  -webkit-transition: .5s;
  transition: .5s;
}

.content-service:hover {
  background: rgba(253, 105, 0, 0.3);
}

.content-service::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  border-top: 1px solid #ff6e00;
  border-left: 1px solid #ff6e00;
  -webkit-transition: .5s;
  transition: .5s;
}

.content-service::after {
  position: absolute;
  content: "";
  bottom: 0;
  right: 0;
  width: 10px;
  height: 10px;
  border-bottom: 1px solid #ff6e00;
  border-right: 1px solid #ff6e00;
  -webkit-transition: .5s;
  transition: .5s;
}

.content-service:hover::before,
.content-service:hover::after {
  width: 100%;
  height: 100%;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-family: "Font Awesome 5 Free";
  content: "\f053";
  font-weight: 900;
  color: white;
  -webkit-transition: color ease 0.5s;
  transition: color ease 0.5s;
}

.swiper-button-next::after {
  content: "\f054";
}

.swiper-button-next:hover::after,
.swiper-button-prev:hover::after {
  color: #ff6e00;
}

.swiper-pagination-bullet {
  width: 1.4rem;
  height: 1.4rem;
  display: inline-block;
  border-radius: 100%;
  background: #000;
  opacity: 0.2;
  -webkit-transition: opacity ease 0.5s;
  transition: opacity ease 0.5s;
}

.swiper-pagination-bullet:hover {
  opacity: 0.5;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background: #ff6e00;
}

.swiper-pagination-bullet-active:hover {
  opacity: 1;
}

.header-info-area .menu li a {
  text-decoration: none !important;
}

.header-info-area li.active a {
  color: #ff6e00 !important;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
.preloader {
  position: fixed;
  inset: 0;
  z-index: 9999;
  overflow: hidden;
  background: #0d0057;
  background: linear-gradient(218deg, #0d0057 27%, #77052a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0d0057", endColorstr="#77052a", GradientType=1);
  -webkit-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
  width: 100%;
  height: 100vh;
}

.preloader:before,
.preloader:after {
  content: "";
  position: absolute;
  border: 4px solid #ff6e00;
  border-radius: 50%;
  -webkit-animation: animate-preloader 2s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  animation: animate-preloader 2s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.preloader:after {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}

@-webkit-keyframes animate-preloader {
  0% {
    width: 10px;
    height: 10px;
    top: calc(50% - 5px);
    left: calc(50% - 5px);
    opacity: 1;
  }
  100% {
    width: 72px;
    height: 72px;
    top: calc(50% - 36px);
    left: calc(50% - 36px);
    opacity: 0;
  }
}

@keyframes animate-preloader {
  0% {
    width: 10px;
    height: 10px;
    top: calc(50% - 5px);
    left: calc(50% - 5px);
    opacity: 1;
  }
  100% {
    width: 72px;
    height: 72px;
    top: calc(50% - 36px);
    left: calc(50% - 36px);
    opacity: 0;
  }
}

.sigin {
  opacity: 0;
}

@media screen and (min-width: 1400px) and (max-width: 1920px) {
  .sigin {
    opacity: 1;
  }
}

.preloader2 {
  inset: 0;
  z-index: 9999;
  overflow: hidden;
  -webkit-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
  width: 200px;
  height: 200px;
}

.preloader2:before,
.preloader2:after {
  content: "";
  position: absolute;
  border: 4px solid #ff6e00;
  border-radius: 50%;
  -webkit-animation: animate-preloader2 2s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  animation: animate-preloader2 2s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.preloader2:after {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}

@-webkit-keyframes animate-preloader2 {
  0% {
    width: 10px;
    height: 10px;
    top: calc(50% - 5px);
    left: calc(50% - 5px);
    opacity: 1;
  }
  100% {
    width: 72px;
    height: 72px;
    top: calc(50% - 36px);
    left: calc(50% - 36px);
    opacity: 0;
  }
}

@keyframes animate-preloader2 {
  0% {
    width: 10px;
    height: 10px;
    top: calc(50% - 5px);
    left: calc(50% - 5px);
    opacity: 1;
  }
  100% {
    width: 72px;
    height: 72px;
    top: calc(50% - 36px);
    left: calc(50% - 36px);
    opacity: 0;
  }
}

/* Estilos para el timeline roadMap */
.container-road {
  width: 70%;
  height: auto;
  position: relative;
}

.container-road ul {
  list-style: none;
}

.container-road ul::after {
  position: absolute;
  content: '';
  width: 20px;
  height: 100%;
  background: red;
  top: 0;
  z-index: 100;
}

.container-road ul li {
  width: 50%;
  height: auto;
  padding: 15px 20px;
  -webkit-box-shadow: 1px 2px 12px rgba(0, 0, 0, 0.284);
          box-shadow: 1px 2px 12px rgba(0, 0, 0, 0.284);
  border-radius: 10px;
  margin-bottom: 30px;
  background: rgba(253, 105, 0, 0.1);
  -webkit-transition: .5s;
  transition: .5s;
  z-index: 99;
  position: relative;
}

.container-road ul li:hover {
  background: rgba(253, 105, 0, 0.3);
}

.container-road ul li::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  border-top: 1px solid #ff6e00;
  border-left: 1px solid #ff6e00;
  -webkit-transition: .5s;
  transition: .5s;
}

.container-road ul li::after {
  position: absolute;
  content: "";
  bottom: 0;
  right: 0;
  width: 10px;
  height: 10px;
  border-bottom: 1px solid #ff6e00;
  border-right: 1px solid #ff6e00;
  -webkit-transition: .5s;
  transition: .5s;
}

.container-road ul li:hover::before,
.container-road ul li:hover::after {
  width: 100%;
  height: 100%;
}

.container-road ul li:nth-child(odd) {
  float: left;
  clear: right;
  -webkit-transform: translateX(-30px);
          transform: translateX(-30px);
}

.container-road ul li:nth-child(even) {
  float: right;
  clear: left;
  -webkit-transform: translateX(30px);
          transform: translateX(30px);
}

/* .container-road ul li:nth-child(4){
	margin-bottom: 0;
} */
.container-road ul li .title {
  font-size: 20px;
  font-weight: bold;
  color: #ff6e00;
}

.container-road ul li p {
  font-size: 15px;
  color: #04F2F9;
  margin: 7px 0;
  line-height: 23px;
}

.container-road ul li .date {
  position: absolute;
  top: -60px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #fff;
  display: -ms-grid;
  display: grid;
  place-items: center;
  font-size: 14px;
  -webkit-box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.418);
          box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.418);
}

.container-road ul li .fecha {
  position: absolute;
  top: -52px;
  color: #fff;
  width: auto;
  height: auto;
  padding: 5px 15px;
  border-radius: 10px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  font-size: 14px;
  -webkit-box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.418);
          box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.418);
}

.container-road ul li:nth-child(odd) .date {
  right: 0px;
}

.container-road ul li:nth-child(even) .date {
  left: 0px;
}

.container-road ul li:nth-child(odd) .fecha {
  right: 80px;
}

.container-road ul li:nth-child(even) .fecha {
  left: 80px;
}

.container-road ul li .circle {
  width: 30px;
  height: 30px;
  background-color: rgba(255, 110, 0, 0.3);
  border-radius: 50%;
  position: absolute;
  top: 0;
  z-index: 99;
}

.container-road ul li .circle::before {
  content: ' ';
  width: 15px;
  height: 15px;
  background-color: #ff6e00;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.container-road ul li .circle::after {
  content: ' ';
  width: 5px;
  height: 80px;
  background-color: #ff6e00;
  position: absolute;
  top: 25px;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.container-road ul li:nth-child(odd) .circle {
  right: -30px;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}

.container-road ul li:nth-child(even) .circle {
  left: -30px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

/*  ----  Media Query Started  ----  */
@media screen and (max-width: 1224px) {
  .container-road {
    width: 85%;
  }
}

@media screen and (max-width: 933px) {
  .container-road {
    width: 100%;
    padding-right: 30px;
    -webkit-transform: translateX(15px);
            transform: translateX(15px);
  }
  .container-road ul li .circle::after {
    height: 110px;
  }
  .container-road ul::after {
    left: -30px;
  }
  .container-road ul li {
    width: 100%;
    float: none;
    clear: none;
    margin-bottom: 80px;
  }
  .container-road ul li:nth-child(even),
  .container-road ul li:nth-child(odd) {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    text-align: left;
  }
  .container-road ul li:nth-child(odd) .date {
    left: 0px;
  }
  .container-road ul li:nth-child(odd) .fecha {
    left: 80px;
  }
  .container-road ul li:nth-child(even) .fecha {
    right: 80px;
  }
  .container-road ul li:nth-child(odd) .circle {
    left: -30px;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .container-road ul li:nth-child(even) {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.road1 {
  background: #005284;
}

.road2 {
  background: #00b3e6;
}

.road3 {
  background: #00d2db;
}

.road4 {
  background: #a3073d;
}

.road5 {
  background: #ff4755;
}

.road6 {
  background: #fc9416;
}

.road7 {
  background: #ffc546;
}
/*# sourceMappingURL=estilos.css.map */