$brillante: #ff6e00;
$text-primary: #18bff5;
$text-info: #04F2F9;
$border: #1DC5A3;

h2{
    color: $text-primary !important;
    text-align: justify;
    font-weight: bold !important;
}
.text-warning{
    color: $brillante !important;
}
.text-info{
    color: $text-info !important;
}
.welcome-area .particle-bg{
    box-shadow: none;
}
.btn-default:hover{
    color: $brillante !important;
}
.btn-default:focus{
    outline: none;
    box-shadow: none;
}
// estilos para el menu
.menu-desk li a{
    color: white;
    font-size: 12px;
}
.menu-desk li.active{
    border-bottom: 1px solid $brillante;
}
.menu-desk li.active a{
    color: $brillante;
}
// seccion de home
/* .home .content-container{
    overflow: hidden;
}
.overlayImg{
    width: 100%;
    height: 200% !important;
} */

// Estilo para el video
.contenedor-video{
    z-index: 10;
    border-radius: 15px;
    box-shadow: 5px 5px 20px 1px rgba($color: $brillante, $alpha: .1)
}
.contenedor-video a {
    background-color: rgba(white, 0.7);
    width: 7rem;
    height: 7rem;
    // ponemos flex xq a los elementos inline no se le asigna width ni height
    display: flex;
    border-radius: 50%;
    color: $brillante;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    top: 50%;
    left: 50%;
    // mueve el porcentaje del tamaño del tamaño del elemento
    transform: translate(-50%, -50%);
  
    background-clip: padding-box; /* asemos que el border creado no se una con el color de fondo y con padding se aleja del color */
    border: 0 solid transparent;
    transition: all 0.5s ease;
}
.contenedor-video a:hover {
    background-color: $brillante;
    color: white;
  
    border: 0.8rem solid rgba(white, 0.5);
}
  
  /* // bootstrap usa text-truncate para hacer lo mismo
  .contenedor-video{
      overflow: hidden;
  } */
.contenedor-video img {
    transition: all 0.5s ease;
}
.contenedor-video:hover img {
    transform: scale(1.2);
}

.vbox-close{
  margin-top: 20px;
  margin-right: 20px;
  color: $brillante !important;
}

@media (min-width: 992px){
  .venoratio {
    width: 960px;
    height: 540px;
  }
}


.work .display-content{
    position: relative;
    overflow: hidden;
}
.work .overlayImg {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../images/overlayImg.png);
    
    opacity: .1;
    transform-origin: top right;
    transform: skewY(-30deg);
}
.about .display-content{
    position: relative;
    overflow: hidden;
}
.about .overlayImg {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../images/overlayImg.png);
    z-index: -1;
    opacity: .1;
    transform-origin: top left;
    transform: skewY(-45deg);
}
.objetivo .display-content{
    position: relative;
    overflow: hidden;
}
.objetivo .overlayImg {
    position: absolute;
    width: 125%;
    height: 100%;
    background: url(../images/overlayImg.png);
    z-index: -1;
    opacity: .1;
    transform-origin: top right;
    transform: skewY(-160deg);
}

p span{
    font-weight: bold;
}
.imgBg .work,
.imgBg #blog,
.imgBg #portfolio,
.imgBg #client-testimonial,
.imgBg #service,
.imgBg .resume,
.imgBg .metamask,
.imgBg #contact,
.imgBg #about{
    box-shadow: none !important;
}


// Seccion de botones
.btn-primario{
    text-transform: uppercase;
    width: 150px;
    background:rgba(253,105,0,0.1);
    position: relative;
    color: $brillante;
    font-size: 12px;
    transition: .5s;
}
.btn-primario:focus{
    color: $brillante;
    border: none;
    box-shadow: none;
}
.btn-secundario{
    text-transform: uppercase;
    width: 150px;
    background:rgba(29,197,163,0.1);
    position: relative;
    color: $border;
    font-size: 12px;
    transition: .5s;
}
.btn-secundario:focus{
    color: $border;
    border: none;
    box-shadow: none;
}
.btn-primario::before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    border-top: 1px solid $brillante;
    border-left: 1px solid $brillante;
    transition: .5s;
}
.btn-primario::after{
    position: absolute;
    content: "";
    bottom: 0;
    right: 0;
    width: 10px;
    height: 10px;
    border-bottom: 1px solid $brillante;
    border-right: 1px solid $brillante;
    transition: .5s;
}
.btn-primario:hover{
    color: $brillante
}
.btn-primario:hover::before,
.btn-primario:hover::after{
    width: 100%;
    height: 100%;
}
.btn-secundario::before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    border-top: 1px solid $border;
    border-left: 1px solid $border;
    transition: .5s;
}
.btn-secundario::after{
    position: absolute;
    content: "";
    bottom: 0;
    right: 0;
    width: 10px;
    height: 10px;
    border-bottom: 1px solid $border;
    border-right: 1px solid $border;
    transition: .5s;
}
.btn-secundario:hover{
    color: $border
}
.btn-secundario:hover::before,
.btn-secundario:hover::after{
    width: 100%;
    height: 100%;
}

.content-service{
  width: 100%;
  position:relative;
  background:rgba(253,105,0,0.1);
  transition: .5s;
}
.content-service:hover{
  background:rgba(253,105,0,0.3);
}
.content-service::before{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  border-top: 1px solid $brillante;
  border-left: 1px solid $brillante;
  transition: .5s;
}
.content-service::after{
    position: absolute;
    content: "";
    bottom: 0;
    right: 0;
    width: 10px;
    height: 10px;
    border-bottom: 1px solid $brillante;
    border-right: 1px solid $brillante;
    transition: .5s;
}
.content-service:hover::before,
.content-service:hover::after{
    width: 100%;
    height: 100%;
}


//Estilos para los botones atras y adelante
.swiper-button-next::after,
.swiper-button-prev::after {
  font-family: "Font Awesome 5 Free";
  content: "\f053";
  font-weight: 900;
  color: white;
  transition: color ease 0.5s;
}
.swiper-button-next::after {
  content: "\f054";
}
.swiper-button-next:hover::after,
.swiper-button-prev:hover::after {
  color: $brillante;
}
//Estilos paginacion
.swiper-pagination-bullet {
  width: 1.4rem;
  height: 1.4rem;
  display: inline-block;
  border-radius: 100%;
  background: #000;
  opacity: 0.2;
  transition: opacity ease 0.5s;
}
.swiper-pagination-bullet:hover {
  opacity: 0.5;
}
.swiper-pagination-bullet-active {
  opacity: 1;
  background: $brillante;
}
.swiper-pagination-bullet-active:hover {
  opacity: 1;
}

.header-info-area .menu li a{
    text-decoration: none !important;
}
.header-info-area li.active a{
    color: $brillante !important;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
.preloader {
    position: fixed;
    inset: 0;
    z-index: 9999;
    overflow: hidden;
    background: rgb(13, 0, 87);
            background: -moz-linear-gradient(218deg, rgba(13, 0, 87, 1) 27%, rgba(119, 5, 42, 1) 100%);
            background: -webkit-linear-gradient(218deg, rgba(13, 0, 87, 1) 27%, rgba(119, 5, 42, 1) 100%);
            background: linear-gradient(218deg, rgba(13, 0, 87, 1) 27%, rgba(119, 5, 42, 1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0d0057", endColorstr="#77052a", GradientType=1);
            // backdrop-filter: blur(10px);
    transition: all 0.6s ease-out;
    width: 100%;
    height: 100vh;
  }
  
  .preloader:before,
  .preloader:after {
    content: "";
    position: absolute;
    border: 4px solid $brillante;
    border-radius: 50%;
    -webkit-animation: animate-preloader 2s cubic-bezier(0, 0.2, 0.8, 1) infinite;
    animation: animate-preloader 2s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  
  .preloader:after {
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
  }
  
  @-webkit-keyframes animate-preloader {
    0% {
      width: 10px;
      height: 10px;
      top: calc(50% - 5px);
      left: calc(50% - 5px);
      opacity: 1;
    }
  
    100% {
      width: 72px;
      height: 72px;
      top: calc(50% - 36px);
      left: calc(50% - 36px);
      opacity: 0;
    }
  }
  
  @keyframes animate-preloader {
    0% {
      width: 10px;
      height: 10px;
      top: calc(50% - 5px);
      left: calc(50% - 5px);
      opacity: 1;
    }
  
    100% {
      width: 72px;
      height: 72px;
      top: calc(50% - 36px);
      left: calc(50% - 36px);
      opacity: 0;
    }
  }

  .sigin{
    opacity: 0;
  }

  @media screen and (min-width: 1400px) and (max-width: 1920px){
    .sigin{
      opacity: 1;
    }
  }




  .preloader2 {
    inset: 0;
    z-index: 9999;
    overflow: hidden;
    transition: all 0.6s ease-out;
    width: 200px;
    height: 200px;
  }
  
  .preloader2:before,
  .preloader2:after {
    content: "";
    position: absolute;
    border: 4px solid #ff6e00;
    border-radius: 50%;
    -webkit-animation: animate-preloader2 2s cubic-bezier(0, 0.2, 0.8, 1) infinite;
    animation: animate-preloader2 2s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  
  .preloader2:after {
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
  }
  
  @-webkit-keyframes animate-preloader2 {
    0% {
      width: 10px;
      height: 10px;
      top: calc(50% - 5px);
      left: calc(50% - 5px);
      opacity: 1;
    }
    100% {
      width: 72px;
      height: 72px;
      top: calc(50% - 36px);
      left: calc(50% - 36px);
      opacity: 0;
    }
  }
  
  @keyframes animate-preloader2 {
    0% {
      width: 10px;
      height: 10px;
      top: calc(50% - 5px);
      left: calc(50% - 5px);
      opacity: 1;
    }
    100% {
      width: 72px;
      height: 72px;
      top: calc(50% - 36px);
      left: calc(50% - 36px);
      opacity: 0;
    }
  }




/* Estilos para el timeline roadMap */

.container-road{
	width: 70%;
	height: auto;
	position: relative;
}
.container-road ul{
	list-style: none;
}
.container-road ul::after{
	position: absolute;
	content: '';
	width: 20px;
	height: 100%;
	background: red;
	top: 0;
	z-index: 100;
}
.container-road ul li{
	width: 50%;
	height: auto;
	padding: 15px 20px;
	box-shadow: 1px 2px 12px rgba(0, 0, 0, 0.284);
	border-radius: 10px;
	margin-bottom: 30px;
  background:rgba(253,105,0,0.1);
  transition: .5s;
	z-index: 99;
	position: relative;
}
.container-road ul li:hover{
  background:rgba(253,105,0,0.3);
}
.container-road ul li::before{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  border-top: 1px solid $brillante;
  border-left: 1px solid $brillante;
  transition: .5s;
}
.container-road ul li::after{
  position: absolute;
  content: "";
  bottom: 0;
  right: 0;
  width: 10px;
  height: 10px;
  border-bottom: 1px solid $brillante;
  border-right: 1px solid $brillante;
  transition: .5s;
}
.container-road ul li:hover::before,
.container-road ul li:hover::after{
  width: 100%;
  height: 100%;
}
.container-road ul li:nth-child(odd){
	float: left;
	clear: right;
	transform: translateX(-30px);
	// text-align: right;
}
.container-road ul li:nth-child(even){
	float: right;
	clear: left;
	transform: translateX(30px);
  // text-align: left;
}
/* .container-road ul li:nth-child(4){
	margin-bottom: 0;
} */
.container-road ul li .title{
	font-size: 20px;
	font-weight: bold;
	color: $brillante;
}
.container-road ul li p{
	font-size: 15px;
	color: $text-info;
	margin: 7px 0;
	line-height: 23px;
}
// .container-road ul li a{
// 	font-size: 15px;
// 	color: rgb(106, 6, 236);
// 	text-decoration: none;
// }
.container-road ul li .date{
	position: absolute;
	top: -60px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	color: #fff;
	// background-image: linear-gradient(to right, rgb(106, 6, 236), rgb(220, 0, 240));
	display: grid;
	place-items: center;
	font-size: 14px;
	box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.418);
}
.container-road ul li .fecha{
	position: absolute;
	top: -52px;
	color: #fff;
  width: auto;
  height: auto;
  padding: 5px 15px;
  border-radius: 10px;
	// background-image: linear-gradient(to right, rgb(106, 6, 236), rgb(220, 0, 240));
	display: grid;
	place-items: center;
	font-size: 14px;
	box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.418);
}
.container-road ul li:nth-child(odd) .date{
	right: 0px;
}
.container-road ul li:nth-child(even) .date{
	left: 0px;
}
.container-road ul li:nth-child(odd) .fecha{
	right: 80px;
}
.container-road ul li:nth-child(even) .fecha{
	left: 80px;
}

.container-road ul li .circle{
	width: 30px;
	height: 30px;
	background-color: rgba($color: $brillante, $alpha: .3);
	border-radius: 50%;
	position: absolute;
	top: 0;
	z-index: 99;
}
.container-road ul li .circle::before{
	content: ' ';
	width: 15px;
	height: 15px;
	background-color: $brillante;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.container-road ul li .circle::after{
	content: ' ';
	width: 5px;
	height: 80px;
	background-color: $brillante;
	position: absolute;
  top: 25px;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}
.container-road ul li:nth-child(odd) .circle{
	right: -30px;
	transform: translate(50%, -50%);
}

.container-road ul li:nth-child(even) .circle{
	left: -30px;
	transform: translate(-50%, -50%);
}

/*  ----  Media Query Started  ----  */

@media screen and (max-width:1224px) {
	.container-road{
		width: 85%;
	}
}


@media screen and (max-width:933px) {
	.container-road{
		width: 100%;
        padding-right: 30px;
		transform: translateX(15px);
	}
  .container-road ul li .circle::after{
    
    height: 110px;
  }
	.container-road ul::after{
		left: -30px;
	}
	.container-road ul li{
		width: 100%;
		float: none;
		clear: none;
		margin-bottom: 80px;
	}
	.container-road ul li:nth-child(even),
	.container-road ul li:nth-child(odd){
		transform: translateX(0);
		text-align: left;
	}
	.container-road ul li:nth-child(odd) .date{
		left: 0px;
	}
	.container-road ul li:nth-child(odd) .fecha{
		left: 80px;
	}
	.container-road ul li:nth-child(even) .fecha{
		right: 80px;
	}
	.container-road ul li:nth-child(odd) .circle{
		left: -30px;
		transform: translate(-50%, -50%);
	}
	.container-road ul li:nth-child(even){
		transform: translateX(0);
	}
}
.road1{
  background: #005284;
}
.road2{
  background: #00b3e6;
}
.road3{
  background: #00d2db;
}
.road4{
  background: #a3073d;
}
.road5{
  background: #ff4755;
}
.road6{
  background: #fc9416;
}
.road7{
  background: #ffc546;
}


/* Seccion de arreglos */
@media (max-width: 567px){
  .swiper-slide h3{
    font-size: 23px;
  }
  .panel-dash{
    border: none !important;
    margin: 0;
  }
  .titulometa{
    font-size: 50px !important;
  }
  
}
.swiper-pagination-bullet{
  background: $brillante !important;
}


/* Seccion de logins */
.content-login{
  position: relative;
  border-radius: 20px;
  background-color: #0c0f356e;
  border: 1px solid #432279;
  padding: 20px 30px;
  z-index: 99;
  box-shadow: 0px 17px 19px rgba(109, 100, 139 , .10);
  transition: all .3s ease-in-out;
}
.content-login:hover{
  border: 1px solid #5223c7;
  // transform: translateY(-10px);
  box-shadow: 0px 17px 19px rgba(109, 100, 139, .31);
}
.content-login::after,
.content-login::before{
  content: "";
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  border-radius: 30px;
  background-color: transparent;
  /* -webkit-transition: all 0.5s; */
  transition: all 0.5s;
  width: 100%;
  height: 100%;
  z-index: -2;
}
.content-login:hover::before{
  background-color: #0c0f356e;
  transform: rotate(2deg) translateX(-7px) translateY(11px) !important;
}
.content-login:hover::after{
  background-color: #0c0f356e;
  transform: rotate(2deg) translateX(7px) translateY(-11px) !important;
}


#particle-js{
  z-index: 0;
}

.form-control{
  width: 100%;
  background-color: transparent;
  color: white;
  border: none;
  border-bottom: 2px solid rgba($color: silver, $alpha: .3);
  outline: 0 !important;
}
.inputsito{
  width: 100%;
  position: relative;
}
.form-label{
  position: absolute;
  left: 8px;
  bottom: 0px;
  color: #eee;
  font-size: 15px;
  pointer-events: none;
  transition: all .3s ease;
}
.form-control:focus {
  box-shadow: 0px 12px 15px -5px rgba($brillante,0.75);
}
.form-control:valid,
.form-control:focus{
  background-color: transparent !important;
  border-bottom: 2px solid $brillante;
  // outline: 0;
  // border-color: red;
  color: white;
}
.form-control:valid ~ .form-label,
.form-control:focus ~ .form-label {
  transform: translate(-5px,-22px);
  font-size: 12px;
  color: $brillante;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  background-color: transparent !important;
  border-bottom: 2px solid $brillante;
  color: white;
  -webkit-text-fill-color: white;
  transition: background-color 5000s ease-in-out 0s;
}


/* Seccion de compra */

.content-datos{
  width: 80%;
  margin: auto;
	height: auto;
	padding: 15px 20px;
	box-shadow: 1px 2px 12px rgba(0, 0, 0, 0.284);
	border-radius: 10px;
	margin-bottom: 30px;
  background: rgba(253, 105, 0, 0.1);
  border: 1px solid #ff6f00a1;
  transition: .5s;
	z-index: 99;
	position: relative;
}
.content-failed:hover,
.content-datos:hover{
  border: 1px solid #ff6e00;
  // transform: translateY(-10px);
  box-shadow: 0px 17px 19px rgba(253, 105, 0, .1);
}
.content-failed{
  position: relative;
  border-radius: 20px;
  background: rgba(253, 105, 0, 0.1);
  border: 1px solid #ff6f00a1;
  padding: 20px 30px;
  z-index: 99;
  box-shadow: 0px 17px 19px rgba(109, 100, 139 , .10);
  transition: all .3s ease-in-out;
}

.content-datos p{
  display: flex;
  justify-content: space-between;
}

.welcome-area .title-small p::after {
  content: '';
  width: 32px;
  height: 1px;
  background: #fff;
  position: absolute;
  top: 12px;
  right: 16px;
}
.welcome-area .title-small p::before {
  content: '';
  width: 32px;
  height: 1px;
  background: #fff;
  position: absolute;
  top: 12px;
  left: 16px;
}
.welcome-header {
  margin-bottom: 16px;
}
@media screen and (max-width: 576px){
  .welcome-area .work-content,
  .work .work-content{
    padding-left: 10px;
    padding-right: 10px;
  }
  .content-failed,
  .content-login{
    padding: 20px 15px;
  }

}
.welcome-area{
  background: url(../images/inicio_metabiz.png) center center / cover;
  z-index: 3;
}
.compra-section .overlayImg {
  position: absolute;
  width: 50%;
  height: 100%;
  background: url(../images/overlayImg.png);
  top: 0;
  left: 0;
  opacity: 0.2;
  transform: rotate(45deg) scale(.7);
}
.compra-section {
  background: url(../images/inicio_metabiz.png) center center / cover;
  background-size: cover;
  text-align: center;
}
.compra-section .display-content{
  position: relative;
  overflow: hidden;
}


/* ----------------------
* Estilos de las tablas
----------------------- */
table{
  th, td {
    padding:15px 20px;
    
  }
  tbody{
    border: none !important;
  }
}
.table{
  margin-bottom: 0.5rem;
}


tr{
  background-color: transparent;
  border:none;
  color: white;
  margin-bottom: 2px;
  border-top: 10px solid transparent;
}
tr:hover, tr:hover tbody{
  color: white;
  background-color: #15152f !important;
}

//* Estilos para el data Table

.dataTables_wrapper{
  padding: .5rem 0;
}

table.dataTable{
  border-collapse: collapse !important;
}
table.dataTable>tbody>tr {
  background-color: transparent;
}

.dataTables_paginate span{
  padding: 0px 5px;
  cursor: pointer;
}
.page-item.active .page-link,
.page-item:not(:first-child) .page-link{
  padding: 5px;
  margin: 0 3px;
  background: transparent;
  color: white;
  border-radius: 5px;
  font-size: 12px;
  text-decoration: none;
}
.page-item:first-child .page-link,
.page-item:last-child .page-link{
  background: transparent;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 12px;
  padding: 5px 10px;
  cursor: pointer;
}

// contador de datos
.dataTables_wrapper .dataTables_length select{
  background: transparent;
  color: white;
  border: none;
  border: 1px solid #432279;
  border-radius: 5px;
  padding: 0 3px;
  outline: none;
}
.dataTables_wrapper .dataTables_length select option{
  border: none;
  background-color: transparent !important;
}
.dataTables_wrapper .dataTables_length select:hover,
.dataTables_wrapper .dataTables_length select:focus,
.dataTables_paginate .previous:hover,
.dataTables_paginate .next:hover,
.dataTables_paginate span a:hover{
  background: transparent;
}
.dataTables_wrapper .dataTables_filter input{
  margin-top: 10px;
  background: transparent;
  border: none;
  padding: 5px 5px;
  border-bottom: 2px solid rgba($color: silver, $alpha: .3);
  color: white;
  border-radius: 5px;
  outline: none;
}
.dataTables_wrapper .dataTables_filter input:focus,
.dataTables_wrapper .dataTables_filter input:hover{
  // border: none;
  border-bottom: 2px solid $brillante;
  background: transparent;
}
table.dataTable thead th, table.dataTable thead td, table.dataTable tfoot th, table.dataTable tfoot td, table.dataTable tbody td,table.dataTable tbody th {
  text-align: left !important;
}
.select-selected {
  background-color: red !important;
}



thead tr{
  background: linear-gradient(to right, #5e0a2e, #02121f) !important;
}
th{
  white-space: nowrap;
}